{% extends 'learning_logs/base.html' %}

{% block header %}
<h2>{{topic}}
    <a class="btn btn-default" href="{% url 'edit_topic' topic.id %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>

    <!-- delete -->
    <a class="btn btn-danger" href="{% url 'delete_confirm_topic' topic.id %}">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </a>
</h2>

{% endblock header %}

{% block content %}

<p><a href="{% url 'new_entry' topic.id %}">Adicione um anova anotação</a></p>

{% for entry in entries %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            {{ entry.date_added | date:'M d, Y H:i' }}
            <a class="btn btn-default btn-sm" href="{% url 'edit_entry' entry.id %}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>

            <a class="btn btn-danger btn-sm" href="{% url 'delete_confirm_entry' entry.id %}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </h3>
    </div>

    <div class="panel-body">
        {{ entry.text | linebreaks }}
    </div>

</div>
{% empty %}

Não há registro.

{% endfor %}

{% endblock content %}